# All . files unless explicitly included
.**/*
*.log
Gemfile.lock
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/mnt/
/vendor/
!.rubocop.yml
!.yardopts
!.gitignore
!/.github/
!/.github/scripts/
!/.github/scripts/*
!/.github/workflows/
!/.github/workflows/*


